<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>

    <div>

        <%=browserInfo.name%>
        <img src="<%=browserInfo.logo%>" />

    </div>

    <div>

        <%=osInfo.name%>
        <img src="<%=osInfo.logo%>" />

    </div>

    <div>
        IP : <%=ip%>
    </div>
    <div>
      Device Type : <%=deviceTypeInfo.name%>
      <img src="<%=deviceTypeInfo.logo%>" />
    </div>

  </body>
</html>
