<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./ReusableComponents/BootstrapCDN.ejs') %> <!-- Include Bootstrap CDN -->
    
    <link  rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/> <!-- Include Leaflet CDN -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script> <!-- Include Leaflet CDN -->

    <div class="container mt-4">
        <div class="row">
            <!-- Card for Browser Info -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%=browserInfo.name%></h5>
                        <img class="card-img-top" src="<%=browserInfo.logo%>" alt="Browser Logo">
                    </div>
                </div>
            </div>

            <!-- Card for OS Info -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%=osInfo.name%></h5>
                        <img class="card-img-top" src="<%=osInfo.logo%>" alt="OS Logo">
                    </div>
                </div>
            </div>

            <!-- Card for IP Info -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">IP</h5>
                        <p class="card-text"><%=ip%></p>
                    </div>
                </div>
            </div>

            <!-- Card for Device Type Info -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%=deviceTypeInfo.name%></h5>
                        <img class="card-img-top" src="<%=deviceTypeInfo.logo%>" alt="Device Type Logo">
                    </div>
                </div>
            </div>

            <!-- Card for Geo-Location Info -->

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <%if(locationData != null){%>
                            latitude: <p id="latitude"> <%=(locationData.latitude)%></p>
                            longitude: <p id="longitude"> <%=(locationData.longitude)%></p>
                            <div id="map" style="height: 400px;"></div>
                            <p>City : <%=locationData.city%></p>
                            <p>Region : <%=locationData.region%></p>
                            <p>Country : <%=locationData.country%></p>
                            <p>Interet Service Provider : <%=locationData.org%></p>
                            <p>Postal Code : <%=locationData.postal%></p>
                            <p>Timezone : <%=locationData.timezone%></p>
                        <%}else{%>
                            <p>Unable to fetch Geo-Location from IP</p>
                        <%}%>
                    </div>
                </div>
            </div>
            


        </div>
    </div>

    <!-- Add Bootstrap JS and jQuery links here if needed -->
</body>
</html>
<script>
    function displayMap(){
        // Get the latitude and longitude values from the ejs file 
        if(document.getElementById('latitude') != null && document.getElementById('longitude') != null)
        {
            const [latitude, longitude] = [document.getElementById('latitude').value,document.getElementById('longitude').value]
            
            console.log(latitude, longitude)

            // Initialize the map
            const map = L.map('map').setView([latitude, longitude], 13);
          
            // Add a tile layer (you can choose a different tile layer based on your preference)
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            }).addTo(map);
          
            // Add a marker to the map at the specified location
            L.marker([latitude, longitude]).addTo(map);
        }
    }
    displayMap();
  </script>
  
